// THEME

$white: #FFFFFF;
$light-blue: #F1F7FF;
$dark-blue: #2680EB;
$light-gray: #F9F9F9;
$medium-gray: #F2F2F2;
$dark-gray: #D9D9D9;
$black: #212529;

$color-black: #212529;
$color-yellow: #FFA500;
$color-light-yellow: #FFE8D6;
$color-blue: #10526B;
$color-white: #fff;
$color-light-gray: #f9f9f9;
$color-dark-gray: #eee;

/* primary */
$primary0: #000000;
$primary10: #021d2b;
$primary20: #053447;
$primary25: #084057;
$primary30: #0b4b66;
$primary35: #0e5776;
$primary40: #126487;
$primary50: #197ea8;
$primary60: #2b99c9;
$primary70: #50b4e5;
$primary80: #77cffe;
$primary90: #c2e7ff;
$primary95: #e2f2ff;
$primary98: #f4faff;
$primary99: #fafcff;
$primary100: #ffffff;

/* secondary */
$secondary0: #000000;
$secondary10: #2a1700;
$secondary20: #462a00;
$secondary25: #553400;
$secondary30: #653e00;
$secondary35: #744900;
$secondary40: #855400;
$secondary50: #a66a00;
$secondary60: #c98100;
$secondary70: #ed9900;
$secondary80: #ffb95c;
$secondary90: #ffddb7;
$secondary95: #ffeede;
$secondary98: #fff8f4;
$secondary99: #fffbff;
$secondary100: #ffffff;