<div class="container-fluid information">
    <div class="row r1">
        <div class="information-title">
            <h4 class="h4" data-aos="fade-right" data-aos-duration="1000">Do Not Sell My Information</h4>
        </div>
        <div class="col-sm-6 c1">
            <app-do-not-sell-my-info-form></app-do-not-sell-my-info-form>
        </div>
    </div>

    <mat-divider class="mat-divider"></mat-divider>

    <div class="row">
        <div class="col-sm-12">
            <app-industries-we-work-with></app-industries-we-work-with>
        </div>
    </div>

    <mat-divider class="mat-divider"></mat-divider>

    <div class="row">
        <div class="col-sm-12">
            <app-testimonials></app-testimonials>
        </div>
    </div>
</div>