// THEME
$color-blue: #10526B;
$color-yellow: #FFA500;
$color-black: #212529;
$color-white: #fff;
$color-gray: #eee;
$color-light-gray: #f6f6f6;

/* primary */
$primary0: #000000;
$primary10: #001e2b;
$primary20: #003547;
$primary25: #004157;
$primary30: #004d66;
$primary35: #005976;
$primary40: #006687;
$primary50: #0081a8;
$primary60: #189cca;
$primary70: #46b7e6;
$primary80: #71d2ff;
$primary90: #c0e8ff;
$primary95: #e1f3ff;
$primary98: #f4faff;
$primary99: #fafcff;
$primary100: #ffffff;

/* secondary */
$secondary0: #000000;
$secondary10: #2a1700;
$secondary20: #462a00;
$secondary25: #553400;
$secondary30: #653e00;
$secondary35: #744900;
$secondary40: #855400;
$secondary50: #a66a00;
$secondary60: #c98100;
$secondary70: #ed9900;
$secondary80: #ffb95c;
$secondary90: #ffddb7;
$secondary95: #ffeede;
$secondary98: #fff8f4;
$secondary99: #fffbff;
$secondary100: #ffffff;