<div class="container-fluid home">
    <div class="row r1">
        <div class="industries-title">
            <h3 class="h3">Industries</h3>
        </div>
        <div class="col-sm-12 r1c1">
            <owl-carousel-o class="owl-carousel-o" [options]="customOptions">
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital" src="../../../assets/images/icons/industries/hospital.png"
                                alt="Medical">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Medical</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital" src="../../../assets/images/icons/industries/retail.png"
                                alt="Retail">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Retail</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital" src="../../../assets/images/icons/industries/real-estate.png"
                                alt="Real Estate">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Real Estate</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital" src="../../../assets/images/icons/industries/callcenter.png"
                                alt="Business Consulting">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Business Consulting</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital" src="../../../assets/images/icons/industries/concert-ticket.png"
                                alt="Entertainment">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Entertainment</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital" src="../../../assets/images/icons/industries/hotel.png"
                                alt="Accommodation">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Accommodation</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital" src="../../../assets/images/icons/industries/construction.png"
                                alt="Construction">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Construction</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital" src="../../../assets/images/icons/industries/data-management.png"
                                alt="Technology">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Technology</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital"
                                src="../../../assets/images/icons/industries/telecommunication.png"
                                alt="Telecommunications">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Telecommunications</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="ng-template" carouselSlide>
                    <div class="row r1c1r1">
                        <div class="col-sm-6 r1c1r1c1">
                            <img class="img hospital" src="../../../assets/images/icons/industries/advertisement.png"
                                alt="Advertising">
                        </div>
                        <div class="col-sm-6 r1c1r1c2">
                            <p class="p">Advertising</p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>