<div class="container-fluid home">

    <!-- Taglines -->
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div class="img"></div>
            <div class="title-group">
                <h1 class="h1">Careers</h1>
            </div>
        </div>
    </div>

    <!-- Why Anosales? -->
    <div class="row r2">
        <div class="col-sm-12 r2c2">
            <h4 class="h4">Why Anosales?</h4>
        </div>
        <div class="col-lg-4 r2c1" *ngFor="let data of careers_content">
            <mat-card class="mat-card">
                <mat-card-header class="mat-card-header">
                    <mat-card-title class="mat-card-title">
                        <h6 class="h6">{{data.title}}</h6>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="mat-card-content">
                    <h6 class="h6">{{data.content}}</h6>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- GROW YOUR CAREER -->
    <div class="row r4">
        <div class="col-sm-12 r4c1">
            <h3 class="h3">GROW YOUR CAREER.</h3>
            <h5 class="h5">"An energetic and dynamic work environment with excellent potential for career advancement."
            </h5>
        </div>
    </div>

    <!-- Job Applications -->
    <div class="row r3">
        <div class="col-sm-12 r3c2">
            <h4 class="h4">Job Applications</h4>
        </div>
        <div class="col-sm-12 r3c1">
            <mat-accordion class="mat-accordion">
                <mat-expansion-panel class="mat-expansion-panel" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-panel-header">
                        <mat-panel-title class="mat-expansion-title">
                            <h6 class="h6">Lead Generation Executive (LGE)</h6>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h6 class="h6">We are seeking a talented sales professional with a successful track record for
                        our Lead Generation Executive position. The ideal candidates will possess the ability to
                        learn, to work in a fast paced environment, and to take pride in their work.</h6>
                    <h6 class="h6">Roles And Responsibilities:</h6>
                    <ul class="ul">
                        <li class="li">Analyze different markets to generate leads</li>
                        <li class="li">Collect the leads from different campaigns</li>
                        <li class="li">Generating and qualifying leads through cold calling</li>
                        <li class="li">Coordinate with customer to explain about our products and services</li>
                        <li class="li">Follow-up with clients through email or telephonic about new requirements or
                            the expansion of the projects or the status update</li>
                        <li class="li">Convert inquiries into sales by answering Outbound/Inbound calls</li>
                        <li class="li">Maintain and update the lead generation database</li>
                        <li class="li">Ensuring all the leads are well qualified by identifying the correct decision
                            makers and understanding their requirements.</li>
                        <li class="li">Build relationships with contacts for future opportunity development.
                        </li>
                        <li class="li">Familiarizing yourself with all products and services offered by our company.
                        </li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-expansion-panel" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-panel-header">
                        <mat-panel-title class="mat-expansion-title">
                            <h6 class="h6">Business Development Executive (BDE)</h6>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h6 class="h6">We are seeking a talented sales professional with a successful track record for
                        our
                        Business Development Executive position. The ideal candidates will possess the ability to
                        learn,
                        to work in a fast paced environment, and to take pride in their work.
                    </h6>
                    <h6 class="h6">Roles And Responsibilities:</h6>
                    <ul class="ul">
                        <li class="li">In this position you will be part of the team responsible for driving the
                            sales
                            customer acquisition of Anosales suite of product and services, primarily selling in the
                            US
                            & Europe market general sales research and aggressively grow our customer base and
                            revenue.
                        </li>
                        <li class="li">Developing and executing sales plans to meet and exceed monthly and quarterly
                            sales goals.
                        </li>
                        <li class="li">Growing business through the development of new leads and new contacts.</li>
                        <li class="li">Identifying new revenue opportunities.</li>
                        <li class="li">Building business relationships with current and potential clients.
                        </li>
                        <li class="li">Attending networking events to attract and retain clients.
                        </li>
                        <li class="li">Developing and executing sales and marketing strategies to grow business.
                        </li>
                        <li class="li">Collaborating with management on sales goals.</li>
                        <li class="li">Assisting with marketing and promotional projects.</li>
                        <li class="li">Support the team with other responsibilities.</li>
                        <li class="li">Familiarizing yourself with all products and services offered by our company.
                        </li>
                        <li class="li">You will deeply qualify target customers and set appointment for customers
                            field
                            sales team members.</li>
                        <li class="li">Research potential client companies.</li>
                        <li class="li">You will talk to target customers and identify specific decision makers and
                            influencers.
                        </li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-expansion-panel" hideToggle>
                    <mat-expansion-panel-header class="mat-expansion-panel-header">
                        <mat-panel-title class="mat-expansion-title">
                            <h6 class="h6">Telemarketing Executive (TE)</h6>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h6 class="h6">We are seeking a talented sales professional with a successful track record for
                        our Telemarketing Executive position. The ideal candidates will possess the ability to
                        learn, to work in a fast paced environment, and to take pride in their work.
                    </h6>
                    <h6 class="h6">Roles And Responsibilities:</h6>
                    <ul class="ul">
                        <li class="li">Contact individuals and businesses by telephone to promote products and
                            services
                            over a telephone.</li>
                        <li class="li">Adjust a well-tailored sales pitch and deliver it efficiently to the
                            customers
                            also keeping in mind that they fulfill each and every requirements of a customer.
                        </li>
                        <li class="li">The Candidate must be good in explaining the features of the goods or
                            products/services which he/she is trying to sell.</li>
                        <li class="li">Should be very persuasive in order to convince the customers to buy the
                            product
                            by illustrating it in such a way that it meets their needs.
                        </li>
                        <li class="li">Keep a record of each and every personal detail of the prospect in their
                            system
                            and should also maintain all the conversations made over a telephone for future
                            references.
                        </li>
                        <li class="li">Schedule appointments so that the sales team gets in touch with the probable
                            customers.</li>
                        <li class="li">Most importantly, a telemarketer needs to follow up with the prospect on what
                            they had discussed in the last phone call.
                        </li>
                        <li class="li">Should be quite customer friendly and should be able to persuade the users.
                        </li>
                        <li class="li">Must understand what the prospect requires and accordingly act on
                            implementing
                            and provide a relevant solution to them in a short span of time.</li>
                        <li class="li">The main objective of a telemarketer is to promote the growth of the business
                            by
                            expanding the company's customer network.</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

    <!-- Industries we work with -->
    <div class="row r5">
        <div class="col-sm-12 r5c1">
            <app-industries-we-work-with></app-industries-we-work-with>
        </div>
    </div>

    <!-- Testimonials -->
    <div class="row r6">
        <div class="col-sm-12 r6c1">
            <app-testimonials></app-testimonials>
        </div>
    </div>

</div>