<div class="container-fluid counter">
    <div class="row r1">
        <div class="col-sm-3 r1c1">
            <div id="counter1" class="counter-one">0</div>
            <h6 class="h6">CLIENTS</h6>
        </div>
        <div class="col-sm-3 r1c2">
            <div id="counter2" class="counter-two">0</div>
            <h6 class="h6">PROJECTS</h6>
        </div>
        <div class="col-sm-3 r1c3">
            <div id="counter3" class="counter-three">0</div>
            <h6 class="h6">SERVICES</h6>
        </div>
        <div class="col-sm-3 r1c4">
            <div id="counter4" class="counter-four">0</div>
            <h6 class="h6">SOLUTIONS</h6>
        </div>
    </div>
</div>