<div class="container-fluid home">
    <div class="row r1">

        <div class="col-sm-4 r1c1">
            <mat-card class="mat-card">
                <mat-card-title class="mat-card-title">
                    <mat-card-subtitle class="mat-card-subtitle">- Larry, Alliance Manager at a US based Manufacturing
                        Company</mat-card-subtitle>
                </mat-card-title>
                <mat-card-content class="mat-card-content">
                    <p class="p">"Anosales LLC has a terrific support team to refine and build marketing
                        campaigns. I highly recommend Anosales LLC. The employees are amazing!"</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm-4 r1c2">
            <mat-card class="mat-card">
                <mat-card-title class="mat-card-title">
                    <mat-card-subtitle class="mat-card-subtitle">- Ankit, Marketing Manager for Europe & ANZ region at
                        an Indian Procurement Firm</mat-card-subtitle>
                </mat-card-title>
                <mat-card-content class="mat-card-content">
                    <p class="p">In this day of "do more with less" we all have to work smarter and faster. I
                        dont know a better way to do it than to utilize the clean, accurate and authentic data that
                        Anosales LLC helps us unearth. I am impressed by the combination of speed, quality and potential
                        of the Anosales LLC team. We appreciate our association with Anosales LLC and look forward to
                        continuing.</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm-4 r1c3">
            <mat-card class="mat-card">
                <mat-card-title class="mat-card-title">
                    <mat-card-subtitle class="mat-card-subtitle">- Andrew, Director at a UK based Marketing
                        firm</mat-card-subtitle>
                </mat-card-title>
                <mat-card-content class="mat-card-content">
                    <p class="p">We used to use internal members of staff but now always use Anosales LLC for
                        contact discovery and profiling. They are professional, well priced and easy to work with.</p>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>